/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Updated background color */
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 80px; /* Adjust as needed */
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    margin-right: auto;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.login-button {
    background-color: #ff5a5f; /* Airbnb red color */
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.login-button:hover {
    background-color: #ff7b82; /* Slightly lighter red on hover */
}

/* Main Content Styles */
main {
    display: flex;
    flex-direction: column; /* Changed to column layout */
    align-items: center; /* Center align content */
}

#container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#map {
    flex: 1;
    min-height: 400px;
    background-color: #ffffff; /* Updated background color */
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
}

#form-container {
    width: 30%;
    min-height: 400px;
    background-color: #ffffff; /* Updated background color */
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 30px;
}

.form-text.text-muted {
    margin-top: 2px;
    margin-bottom: 5px;/* Adjust the margin as needed */
    font-size: 0.8em; /* Adjust the font size as needed */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 4px;
}

input,
select {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd; /* Added border for input and select */
}

button {
    background-color: #ff5a5f; /* Airbnb red color */
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #ff7b82; /* Slightly lighter red on hover */
}


/* Header Content Styles */
.header-content {
    text-align: center;
    margin-top: 20px;
    max-width: 800px; /* Adjusted maximum width */
    margin-left: auto;
    margin-right: auto;
}

.header-content h1 {
    font-size: 2.5em; /* Adjusted font size */
    color: #484848; /* Airbnb black color */
    line-height: 1.1;
}

.header-content h3 {
    font-size: 1.2em; /* Adjusted font size */
    margin-bottom: 20px;
    color: #484848; /* Airbnb black color */
}

/* CTA Button Styles */
.cta-button {
    background-color: #ff5a5f; /* Airbnb red color */
    color: #fff;
    padding: 15px 40px; /* Adjusted padding */
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    border: none;
    font-size: 1em; /* Adjusted font size */
    font-weight: bold;
}

.cta-button:hover {
    background-color: #ff7b82; /* Slightly lighter red on hover */
}
